.cartPage {
  max-width: 1360px;
  margin: 0 auto;
}
.itemTitle {
  font-size: 20px;
  font-weight: bold;
}
.cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.removeButton {
  border: none;
  background-color: var(--btn-color);
  color: white;
  padding: 5px 35px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
}
.quantityButton {
  border: none;
  background-color: var(--btn-color);
  color: white;
  padding: 3px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.quantityButton:hover {
  background-color: var(--btn-color-hover);
}
.quantity {
  padding: 5px;
}

.removeButton:hover {
  background-color: var(--btn-color-hover);
}

.btnBack {
  width: 100%;
}

.title {
  font-size: 64px;
  font-weight: bold;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  border-radius: 12px;

  align-items: center;
  max-width: 600px;
}
.cartItemsContainer {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.2s;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.cartContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.orderForm {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: rgb(236 236 236);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.2s;
}

.cartItemImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.price {
  font-size: 1.2rem;
  margin: 10px 0;
}

.originalPrice {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.discountedPrice {
  color: var(--btn-color);
  font-weight: bold;
}

.discountInfo {
  font-size: 20px;
  color: var(--btn-color);
  font-weight: bold;
}

.totalAmount h2 {
  margin-top: 20px;
  font-size: 40px;
}

.modalOverlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalImage {
  cursor: pointer;
}

.continueButton {
  background-color: var(--btn-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.continueButton:hover {
  background-color: var(--btn-color-hover);
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .cartContainer {
    display: block;
  }
  .orderForm {
    margin: 20px;
  }
  .btnBack {
    display: none;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }
  .cartItemsContainer {
    width: 80%;
  }
}
