.orderForm {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.formInput {
  width: 96%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.submitButton {
  background-color: var(--btn-color);
  color: white;
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: var(--btn-color-hover);
}
