.container {
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
}

.errorImage {
  width: 100%;
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.message {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.homeLink {
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.homeLink:hover {
  background-color: var(--btn-color-hover);
}
