.container {
  max-width: 1360px;
  margin: 0 auto;
}

.backgroundImage {
  position: relative;
  width: 100%;
}

.image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 100px;
}

.overlay {
  position: absolute;
  top: 70%;
  left: 76%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  max-width: 400px;
}

.discountForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discountForm input {
  background: transparent;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  color: #ddd;
}

.discountForm input::placeholder {
  color: rgb(218, 214, 214);
}

.discountForm button {
  padding: 10px;
  background-color: #fbfbfb;
  color: var(--btn-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.discountForm button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.successMessage {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
  .overlay {
    position: static;
    transform: none;
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding-top: 20px;
    background: rgb(232, 232, 232);
    margin-top: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.2s;
  }
  .discountForm button {
    background-color: var(--btn-color);
    color: #fbfbfb;
  }
  .discountForm button:hover {
    background-color: var(--btn-color-hover);
  }
  .discountForm input::placeholder {
    color: black;
  }
  .discountForm input {
    background: #fffefe;
  }
}
